[submodule "lib/Catch2"]
	path = lib/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "lib/Crow"]
	path = lib/Crow
	url = https://github.com/CrowCpp/Crow
[submodule "lib/libpqxx"]
	path = lib/libpqxx
	url = https://github.com/jtv/libpqxx
